<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="customerDao" class="com.yuejin66.springframework.ioc.bean.customer.CustomerDao"/>
    <bean id="customerService" class="com.yuejin66.springframework.ioc.bean.customer.CustomerService">
        <property name="id" value="10001"/>
        <property name="customerDao" ref="customerDao"/>
    </bean>
</beans>